# La configuració privada i personal de cada un dels sensors
config.json

# Fitxer de Python
cercadors/__pycache__/
navegadors/__pycache__/
utils/__pycache__/
repository/__pycache__/

# Fitxer de logs
logs/monitor.log

# Directori amb les captures de pantalla
Captures/

