# La configuració privada i personal de cada un dels sensors
config.json

# Fitxers generats per Python que no calen
**/__pycache__/

# Fitxer de logs
logs/monitor.log

# Directori amb les captures de pantalla
Captures/

